.exportButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2600FF;
    width: 10%;
    padding: 10px 20px;
    border: 1px solid #00000018;
    border-radius: 20px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    gap: 10%;
    transition: 0.3s;
}

.button:hover {
    border: 2px solid #00c3ff;
    opacity: 0.9;
}