.header{
    display: flex;
    gap: 1.7rem;
    flex-direction: column;
    height: 10%;
    width: 100%;
}

.header h1{
    height: 15%;
    font-size: 3rem;
    padding-left: 0 !important;
}

.cardsList{
    display: flex;
    gap: 1.2rem;
    height: fit-content;
    width: 100%;
}

.main{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 0;
}
.filterOptions{
    display: flex;
    gap: 1%;
    width: 100%;
    justify-content: end;
}
.main h2{
    font-size: 2.2rem;
}
.status-azul{
    color: blue;
}
.status-verde{
    color: #65804D;
}

@media (max-width: 1440px) {
    .header h1{
        height: 15%;
        padding: 0.5%;
        font-size: 2.2rem;
    }
    .main h2{
        font-size: 1.8rem;
    }
}
