.screenContent {
  padding: 5%;
  display: flex;
  height: 100%;
  width: 100%;
}

.leftContent {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.leftContent img {
  width: 6rem;
  padding-bottom: 1rem;
}

.SignTitle {
  font-weight: 400;
  font-size: 2rem;
  line-height: 45px;
  text-align: center;
  color: #2EA9F5;
}

.back {

  width: fit-content;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  transition: 0.2s;
  background-color: #10b76600;
  padding: 2%;
  border-radius: 20px;
}
.back:hover{
  transform: translateX(-6px);
}

.leftMain {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.stepContent {
  display: flex;
  flex-direction: column;
  gap: 2.5%;
  width: 100%;
  height: 100%;
  align-items: center;
  transition: all 0.3s ease;
}

.fadeOut {
  opacity: 0;
  transform: translateX(-30px);
}

input {
  text-align: start;
}

.fadeIn {
  opacity: 1;
  transform: translateX(0);
}

.rightContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 0px 50px 50px 0px;
  box-shadow: 0px 10px 40px 2px rgba(0, 0, 0, 0.095);
}

.rightContent img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.condoInfos {
  display: flex;
  width: 40%;
  gap: 2%;
  max-height: 50px;
}

p {
  cursor: default;
  font-size: 1.5rem;
  font-weight: 500;
}

p a {
  color: #2EA9F5 !important;
}

.actionsOptions {
  display: flex;
  justify-content: end;
  width: 40%;
}

.signButton, .backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  padding: 5px;
  background: #2EA9F5;
  color: white;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  font-size: 1.5rem;
  margin: 1%;
  transition: 0.3s;
}

.signButton:hover{
  transform: translateX(12px);
}

.backButton:hover{
  transform: translateX(-12px);
}

.sendFormButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding: 5px;
  background: #2EA9F5;
  color: white;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  font-size: 1.5rem;
  margin: 1%;
  transition: 0.3s;
}

.sendFormButton:hover{
  transform: translateY(-6px);
}

.stepContent {
  transition: all 0.3s ease;
}
.stepContent img{
  padding: 0;
}

.slideInRight {
  opacity: 1;
  transform: translateX(0);
  animation: enterFromRight 0.3s ease;
}

.slideInLeft {
  opacity: 1;
  transform: translateX(0);
  animation: enterFromLeft 0.3s ease;
}

.slideOutLeft {
  opacity: 0;
  transform: translateX(-40px);
}

.slideOutRight {
  opacity: 0;
  transform: translateX(40px);
}

@media (max-width: 1440px) {


  .leftMain img{
    padding: 0;
  }
  
  .actionsOptions {
    width: 50%;
  }

  .backButton{
    width: 26%;
  }

  .sendFormButton{
    width: 50%;
  }

  .leftContent img {
    width: 5.2rem;
  }

  .condoInfos {
    width: 50%;
  }

  button {
    width: 22%;
    height: 6%;
    background: #10B765;
    color: white;
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    font-size: 1.3rem;
  }

  p {
    font-size: 1.3rem;
  }
}

@keyframes enterFromRight {
  from {
      opacity: 0;
      transform: translateX(40px);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
      opacity: 0;
      transform: translateX(-40px);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}