.card {
    display: flex;
    aspect-ratio: 273 / 143;
    width: 25%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 20px;
    padding: 2.5%;
}
.leftContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    gap: 60%;
}
.leftContent span:first-child{
    color: #10B765;
    font-size: 2.6rem;
}
.leftContent span:last-child{
    font-size: 3.5rem;
}
.rightContent{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 20%;
}
.icon{
    transition: 0.5s;
    width: 50%;
    rotate: -90deg;
}
.card:hover{
    background-color: rgba(0, 0, 0, 0.042);
}
.card:hover .icon{
    transform: scale(1.05);
    rotate: 90deg;
}


@media (max-width: 1440px) {
    .card{
        padding: 2%;
    }
    .leftContent{
        gap: 40%;
        padding: 1%;
    }
    .leftContent span:first-child{
        font-size: 2cqw;
    }
    .leftContent span:last-child{
        font-size: 2rem;
    }
}