.input {
    display: flex;
    box-sizing: border-box;
    width: 30%;
    padding-left: 1%;
    min-height: 100%;
    background: #FFFFFF;
    border: 1px solid #00000018;
    border-radius: 20px;
    font-size: 1.2rem;
    color: black;
}

.input>:placeholder-shown{
    font-size: clamp(1rem, 1vw, 1.45rem);
}

@media (max-width: 1440px) {
    .input {
        width: 50%;
        height: 7.5%;
        font-size: 1.2rem;
    }
  }
  